{
    "extends": "airbnb",
    "rules": {
        "linebreak-style": "off",
        "indent": ["error", 4],
        "consistent-return": "off",
        "no-param-reassign": "off",
        "max-len": ["warn", 120]
    }
}